{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Lista de Clientes {% endblock%}</h1>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nome</th>
          <th scope="col">Endereco</th>
          <th scope="col">Telefone</th>
          <th scope="col">Opções</th>
        </tr>
      </thead>
      <tbody>
        {% for todo in todos %}
          <tr class='todos'>
            <th scope="row">{{ todo['id'] }}</th>
            <td>{{ todo['nome'] }} {{ todo['sobrenome'] }}</td>
            <td>{{ todo['rua'] }}, {{ todo['numero'] }}, {{ todo['bairro'] }}, {{ todo['complemento'] }}</td>
            <td>{{ todo['tipo'] }} {{ todo['telnum'] }}</td>
            <td><a href="{{ url_for('editar', id=todo['id']) }}">Editar</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}